/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,600;0,700;0,900;1,400&family=Righteous&display=swap');

/* Basic CSS styles */
body {
  background-color: black;
  font-family: 'Red Hat Display', 'Righteous', sans-serif;
  color: white;
}

/* Style links with no underline and white text */
a {
  text-decoration: none;
  color: white;
  font-family: 'Red Hat Display';
}

/* Remove list decoration for ul elements */
ul {
  list-style-type: none;

}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.navbar-links {
  display: flex;
  gap: 20px;
}

/* Add media query for tablet and mobile sized screens */
@media screen and (max-width: 768px) {
  .navbar-links {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }
}

/* Hamburger menu style */
.hamburger-menu {
  display: none;
  cursor: pointer;
  font-size: 24px;
}